* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.bg-image-block {
  background-image: url(images/bg-image.png);
  background-repeat: no-repeat;
  background-size: 790px 697px;
  width: 100%;
  height: 100%;
  width: 790px;
  height: 697px;
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 0;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 1110px;
  gap: 45px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 116px;
}

.product-card-list {
  display: flex;
  flex-wrap: wrap;
  width: 1110px;
  gap: 45px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 116px;
  padding: 0;
  list-style: none;
}

.prduct-card-template {
  width: 0;
}

.product-card {
  width: 340px;
  height: 573px;
  background-color: #F7F7FA;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px #5150761A;
}

.img-bottle {
  width: 290px;
  height: 245px;
  margin: 25px 25px 30px 25px;
}

h1 {
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
  color: #515076;
  margin-top: 220px;
  margin-bottom: 110px;
}

.product-card.first {
  background-color: #F7F7FA;
}

.transparent {
  color: #A5A3B9;
  font-weight: 400;
  font-size: 12px;
  box-sizing: border-box;
  height: 24px;
  margin: 0 0 5px 25px;
  line-height: 24px;
}

h2 {
  margin: 0;
  margin-left: 25px;
  box-sizing: border-box;
  height: 27px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #515076;
  margin-bottom: 5px;
}

.description {
  margin-left: 25px;
  margin-bottom: 15px;
  color: #515076;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  box-sizing: border-box;
  display: block;
  width: 287px;
  padding: 0;
  overflow-wrap: break-word;
  word-wrap: break-word
}

.content {
  display: block;
  margin-top: 0;
  padding-top: 0;
  margin-left: 25px;
  color: #515076;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 5px;
}

ul {
  margin: 0;
  margin-left: 44px;
}

.list-item {
  list-style: circle;
  color: #515076;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 18ox;
  margin-bottom: 5px;
}

.price-info {
  color: #515076;
  margin-top: 25px;
}

.price {
  margin: 0px 161px 0 25px;
  font-size: 20px;
  font-weight: 700;
}

.price-ta {
  font-size: 20px;
}

.change-self-color-btn {
  background-color: rgb(199, 224, 253);
}
.change-self-color-btn-active {
  background-color: burlywood !important;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  gap: 25px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.buttons-container button {
  width: 190px;
  height: 60px;
  font-size: 18px;
  color: #515076;
  border: 2px solid #515076;
  border-radius: 10px;
  background-color: #F7F7FA;
  padding-left: 10px;
  padding-right: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word
}

footer {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  height: 477px;
  background-color: #3A3A3A;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  align-items: start;
  width: 100%;
  box-sizing: border-box;
  margin-top: 85px;
}

.text-block {
  justify-self: start;
  margin-top: 85px;
  margin-left: 70px;
}

.footer-container h3 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 16px;
}

.footer-container .text-block p {
  margin-bottom: 43px;
}

.icon2 {
  margin-left: 31px;
}

.input-block label {
  font-size: 24px;
  font-weight: 400;
}

.input-block {
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 85px;
}

.submit-block{
  display: flex;
  background-color: #fff;
  overflow: hidden;
  width: 100vh;
  max-width: 477px;
  height: 61px;
  border: none;
  border-radius: 10px;
  margin-top: 13px;
  align-items: center;
}

.submit-block input{
  flex-grow: 1;
  border: none;
  padding-left: 36px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 22px;
  padding-bottom: 22px;
}

.submit-block button {
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding-left: 21px;
  padding-right: 15px;
}

.register-block{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.register-button {
  background-color: #fff;
  height: 40px;
  width: 150px;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.divider {
  border: 1px solid #000;
  height: 18px;
}

.nav-block {
  justify-self: end;
  margin-top: 85px;
  margin-right: 70px;
}

.nav-block label {
  display: block;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 23px;
}

.nav-block ul {
  padding-top: 23px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.lower-text {
  width: 380px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  margin-top: 162px;
}

hr {
  width: 66px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 33px;
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 999;

  justify-content: center;
  align-items: center;
  display: none;
}

.modal-showed {
  display: flex !important;
}

#modal-form {
  position: relative;
  background-color: #3A3A3A;;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 550px;
  border: none;
  border-radius: 14px;
}

.form-label {
  margin-bottom: 30px;
  font-size: 30px;
}

#modal-form label {
  display: inline-block;
  width: 230px;
  font-size: 20px;
}

#modal-form input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding-left: 8px;
  font-size: 16px;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form-button {
  background-color: #fff;
  height: 40px;
  width: 150px;
  border-radius: 6px;
  border: none;
  font-size: 20px;
  color: #3A3A3A;
}

.close-cross {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 20px;
  height: 20px;
}

.close-cross::before {
  width: 1px;
  height: 24px;
  background-color: #fff;
  position: absolute;
  transform: rotate(45deg);
  content: "";
}

.close-cross::after {
  width: 1px;
  height: 24px;
  background-color: #fff;
  position: absolute;
  transform: rotate(-45deg);
  content: "";
}